<div class="row crypto-conversion" [formGroup]="cryptoForm">
  <!-- Mensagens de status -->
  <div *ngIf="isLoading" class="col-md-12 status-message">Carregando...</div>
  <div *ngIf="isError" class="col-md-12 status-message error-message">Ocorreu um erro. Tente novamente.</div>

  <!-- Conversão de Criptomoedas -->
  <div class="conversion-container">
    <mat-card class="card-container">
      <mat-card-header>
        <h3 class="card-header-title text-primary-500">Conversão de Criptomoedas</h3>
      </mat-card-header>
      <mat-card-content *ngIf="!isLoading && !isError">
        <div class="form-inputs">
          <!-- Seleção e favoritar criptomoeda -->
          <div class="crypto-input-group">
            <mat-form-field appearance="outline" class="crypto-select">
              <mat-label>Criptomoeda</mat-label>
              <input
                matInput
                [matAutocomplete]="auto"
                placeholder="Pesquise..."
                formControlName="crypto"
                (input)="onCryptoInputChange()"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let crypto of filteredCryptoList$ | async" [value]="crypto.id">
                  {{ crypto.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button
              mat-icon-button
              color="primary"
              class="favorite-button"
              *ngIf="cryptoForm.value.crypto"
              (click)="toggleFavorite(cryptoForm.value.crypto)"
              [attr.aria-label]="isFavorite(cryptoForm.value.crypto) ? 'Remover dos favoritos' : 'Adicionar aos favoritos'"
            >
              <mat-icon>{{ isFavorite(cryptoForm.value.crypto) ? 'star' : 'star_border' }}</mat-icon>
            </button>
          </div>

          <!-- Campo de Quantidade e botão de Conversão -->
          <mat-form-field appearance="outline" class="amount-field">
            <mat-label>Quantidade</mat-label>
            <input type="number" matInput formControlName="amount" />
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            class="convert-button"
            (click)="convertCrypto()"
            [disabled]="!cryptoForm.valid || !isCryptoInDropdown()"
          >
            Converter
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Resultado da Conversão -->
    <mat-card class="card-container conversion-result no-shadow">
      <mat-card-header>
        <h3 class="text-primary-500">Resultado da Conversão</h3>
      </mat-card-header>
      <mat-card-content>
        <div class="result-section">
          <div class="result-title text-primary-500">Valor em BRL:</div>
          <div class="result-value themed-text f-w-700">{{ formatCurrency(conversionResult?.valueBRL || 0, 'BRL') }}</div>
        </div>
        <div class="result-section">
          <div class="result-title text-primary-500">Valor em USD:</div>
          <div class="result-value themed-text f-w-700">
            {{ formatCurrency(conversionResult?.valueUSD || 0, 'USD') }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Favoritos -->
  <div class="col-md-12">
    <mat-card class="card-container">
      <mat-card-header>
        <h3 class="card-header-title text-primary-500">Favoritos</h3>
      </mat-card-header>
      <mat-card-content *ngIf="!isLoading && !isError">
        <mat-chip-list>
          <mat-chip
            *ngFor="let favorite of favorites"
            color="primary"
            selected
            class="favorite-chip"
            (removed)="toggleFavorite(favorite.crypto)"
          >
            {{ favorite.crypto }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
